:root {
    --colore_principale: #1f1f29;
    --colore_sidebar: #1f1f2b;
    --colore_profilo: #24242f;
    --colore_separè: #62626e2a;
    --colore_schede: #2c2c37;
    --colore_sottotitolo: #62626e;
    --giallo: #ffc101;
    --colore_vuoto: #1b1d24;
}

body, html {
    background-color: var( --colore_principale );
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.white-text{
    color: #fff;
    font-weight: 500;
    font-size: 10px;
}

.Subtitle-text{
    font-weight: 400;
    font-size: 10px;
    color: var( --colore_sottotitolo );
}

button{
    background: transparent;
    border: none;
}
.menu-toggle{
    display: none;
}

.sidebar{
    position: fixed;
    display: flex;
    flex-direction: column;
    height: 98vh;
    width: 230px;
    margin-left: 6px;
    box-shadow: 2px 0 10px rgba( 0, 0, 0, 0.2 );
    z-index: 10;    
}
.sidebar ::-webkit-scrollbar {
    width: 5px;    
}

.sidebar ::-webkit-scrollbar-thumb {
    background: var(--colore_sottotitolo); /* Colore della barra di scorrimento */
    border-radius: 5px;
}


.sidebar-body {
    height: 92vh;
    width: 230px;
    background: linear-gradient( to bottom, #2c2c37 5%, #1f1f2b 47% );
    overflow-y: auto;
}

.profile {
    height: 145px;
    width: 100%;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile .profile_texts {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


.profile .Title {
    font-size: 12px;
    color: #fff;
    font-weight: 900;
    margin-bottom: 8px;
}

.profile .Subtitle-text {
    
    margin: 0;
}

.pfp {
    background-color: var( --giallo );
    height: 70px;
    width: 70px;
    border-radius: 50%;
}

.personal_informations {
    padding: 20px 24px 8px;
    display: flex;
    flex-direction: column;
}

.personal-box {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    padding: 2px 0px;
}




.personal_-box .white-text {
    text-align: left;
    
}

.personal-box .Subtitle-text{
   
    font-size: 10px;
}

.separè {
    height: 1px;
    width: 80%;
    background-color: var( --colore_separè );
    margin-top: 15px;
    margin-left: 24px;
    border: none;
}

.languages{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0px 30px;
    margin-top: 20px;
    margin-left: 5px;
}

.linguistic-knowledge {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    padding: 0px 5px;
}

.circle-container {
    position: relative;
    width: 50px;
    height: 50px;
}

.svg-container {
    transform: rotate( -90deg );
    width: 100%;
    height: 100%;
}

.circle-void-part {
    fill: transparent;
    stroke: var( --colore_vuoto );
    stroke-width: 3;
}

.circle-yellow-part {
    fill: transparent;
    stroke: var( --giallo );
    stroke-width: 3;
    stroke-linecap: round;
    transition: stroke-dashoffset 0.5s ease-in-out;
}

.circle-value {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50% );
    font-size: 10px;
    color: var(--colore_sottotitolo);
    font-weight: 400;
}

.linguistic-knowledge .white-text{
    padding-left: 5px;
}

.programming-knowledge{
    width: 80%;
    margin-left: 24px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.programming-language-info{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0px;
}

.programming-knowledge .white-text {
    text-align: left;
    
}

.programming-knowledge .Subtitle-text{
    text-align: right;    
}

.programming-progress-bar{
    height: 4px;
    margin-top: -8px;
    margin-bottom: 26px;
}

.progress-bar {
    margin-top: 0px;
    width: 100%;
    height: 4px;
}

.void-bar {
    fill: var(--colore_vuoto); 
    rx: 2;
    ry: 2;
}

.yellow-bar {
    fill: var(--giallo);    
    rx: 2;
    ry: 2;
}

.sidebar-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 6vh;
    background-color: var(--colore_profilo);
    width: 230px;
}

.main-section{
    z-index: 1;
    height: 98vh;
    margin-left: 260px;
    margin-top: 6px;
    margin-right: 10px;
}

.main-picture{
    background-color: var(--giallo);
    width: 100%;
    height :48.7vh;
}

.main-text-banner{
    display: flex;
    flex-direction: row;
    margin-top: 16px;
    justify-content: space-around;
}

.block-title .white-text{
    text-align: center;
    font-size: 32px;
    font-weight: 600;
}

.block-subtitle{
    background-color: var(--colore_profilo);
    border-radius: 25px;
    padding: 20px 20px;
}

.block-subtitle .Subtitle-text{
    font-size: 16px;
}

.services{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.services .block-subtitle{
    margin: 0px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width:62vh;
    margin-bottom: 25px;
}










.appointment{
    background-color: #fff;
    padding-top: 20px;
    margin-top: 25px;
    border-radius: 25px;
}
/* Design da Mobile*/
@media screen and (max-width: 600px) {
    .sidebar {
        transform: translateX(-240px);
        width: 200px;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
    }

    .content {
        margin-left: 0;
    }

    .menu-toggle {
        display: block;
        position: fixed;
        top: 10px;
        left: 10px;
        background-color: var(--giallo);
        color: black;
        border: none;
        font-size: 20px;
        padding: 10px;
        cursor: pointer;
        z-index: 100;
    }

    .sidebar.open {
        transform: translateX(0);
    }
}
