:root{
--colore1: #212224;
--color2: #2b2e35;
}

body,html{
   background-color: var(--colore1);
}

.sidebar{
    position: fixed;
    height: 97vh;
    margin-left: 3px;
    background-color: var(--color2);
    width: 240px;
}